@font-face {
    font-family: 'Roboto';
    src:  url('./webfonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:  url('./webfonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:  url('./webfonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: AwanZaman;
    src: url('./webfonts/AwanZaman.ttf') format('truetype');
}

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    font-weight: 300;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
    grid-auto-flow: row;
    place-items: center;
    width: 90%;
    justify-self: center;
    margin: auto;
}

.box {
    /* padding: 10px; */
    grid-column: span 12;
    width: 100%;
    justify-content: center
}

.box article,section, div, footer {
    /* margin: 0% 5%; */
}

.bw-1 {
    grid-column: span 1;
}

.bw-2 {
    grid-column: span 2;
}

.bw-3 {
    grid-column: span 3;
}

.bw-4 {
    grid-column: span 4;
}

.bw-5 {
    grid-column: span 5;
}

.bw-6 {
    grid-column: span 6;
}

.bw-7 {
    grid-column: span 7;
}

.bw-8 {
    grid-column: span 8;
}

.bw-9 {
    grid-column: span 9;
}

.bw-10 {
    grid-column: span 10;
}

.bw-11 {
    grid-column: span 11;
}

.bw-12 {
    grid-column: span 12;
}

header {
    display: flex;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
    position: fixed;
    border-bottom: 2px white solid;
    backdrop-filter: blur(3px);
    z-index: 1;
}

header p {
    padding-left: 5%;
}

.main-title {
    font-family: AwanZaman, serif;
    flex: 4;
    font-size: 35px;
    color: #2C4CCA;
}

header nav {
    flex: 3;
}

header nav li {
    display: inline;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 550;
}

header nav li a {
    text-decoration: none;
    color: #6D7B93;
}

header nav li a:hover {
    color: #3353D1;
}

header button {
    height: 40px;
    width: 120px;
    font-size: 14px;
    color: white;
    background-color: #3353D1;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: rgba(77, 77, 77, 0.18) 0px 5px 5px;
    transition: all 0.05s ease-in-out;
    cursor: pointer;
}

header button:hover {
    background-color: #2d45a3;
    transform: scale(1.05);
    box-shadow: rgba(77, 77, 77, 0.18) 0px 6px 10px;
    transition: all 0.05s ease-in-out;
}

.main-hero {
    /* padding-top: 8%; */
    display: grid;
    height: 910px;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: row;
    justify-self: center;
    position: relative;
}

.main-hero article {
    padding-top: 8% ;
    padding-right: 25%;
}

.main-hero h1 {
    font-size: 70px;
    font-weight: 600;
    color: #1F3E72;
    text-align: left;
    margin-bottom: 25px;
}

.main-hero article p {
    font-size: 25px;
    font-weight: 300;
    color: #6D7B93;
}

.main-hero-data {
    display: flex;
    gap: 20px;
}

.main-hero-icon-message {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.main-hero-icon-message figure{
    margin: 20px;
    background-color: #FFFAE9;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: #edd26870 0px 8px 9px;
}

.main-hero-icon-message i {
    color: #FFD012;
}

.main-hero-data div p {
    font-size: 22px;
    color: #1F3E72;
}

.main-hero-schedule-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: absolute;
    bottom: -5%;
    /* left: 50%;
    transform: translate(-50%, -50%); */
}

.main-hero-schedule-data{
    width: 95%;
    height: 190px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 2px white solid;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: rgba(77, 77, 77, 0.18) 0px 20px 25px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.main-hero-img-container {
    height: 100%;
    background: rgb(13,147,224);
    background: linear-gradient(90deg, rgba(13,147,224,1) 0%, rgba(41,113,221,1) 100%);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 113.3%;
    padding-top: 10%;
}

.main-hero-img-container img {
    width: 39%;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    bottom: -71px;
    right: -94px;
}

.main-hero-schedule-container div.main-hero-icon-message p {
    font-size: 32px;
    font-weight: 500;
    color: #1F3E72;
}

.main-color-icon {
    background-color: #dee6ff6c !important;
    box-shadow: #5b70cf52 0px 8px 10px !important;
    margin: 20px !important;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-color-icon i {
    color: #3353D1;
}

.marcas-container {
    margin-top: 130px;
}

.label-icon {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

.label-icon p {
    font-size: 28px;
    font-weight: 300;
    color: #6D7B93;
}

.marcas-container img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 100%;
    opacity: 0.2;
}

.marcas-container article{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.marcas-container article figure{
    width: 100%;
}

.secundary-title {
    font-size: 64px;
    font-weight: 500;
    color: #1F3E72;
}

.schedule-info {
    font-size: 32px;
    color: #1F3E72;
    font-weight: 500;
    margin: 0px;
    padding-left: 80px;
}

.no-shadow {
    box-shadow: none !important;
}

.main-button {
    height: 80px;
    width: 210px;
    font-size: 28px;
    color: white;
    background-color: #2848C6;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: rgb(77 77 77 / 18%) 0px 5px 5px;
    transition: all 0.05s ease-in-out;
    cursor: pointer;
}

.main-button:hover {
    background-color: #2d45a3;
    transform: scale(1.05);
    box-shadow: rgba(77, 77, 77, 0.18) 0px 6px 10px;
    transition: all 0.05s ease-in-out;
}

.btn-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
}

.normal-text{
    font-size: 25px;
    font-weight: 300;
    color: #6D7B93;
}

.info-main-container {
    width: 50%;
    margin-bottom: 5%;
}

.info-container {
    display: flex;
    justify-content: space-around;
}

.info-box {
    width: 17%;
    border: 3px #FAFAFF solid;
    border-radius: 10px;
    padding: 40px;
    height: 400px;
    transition: all ease-in-out 0.06s;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
}

.info-box figure {
    margin-left: 0px !important;
}

.info-box:hover {
    transform: scale(1.03);
    /* border: none; */
    box-shadow: #e3e8f0 0px 60px 60px !important;
    transition: all ease-in-out 0.1s;
}

.info-box:hover .shadow{
    transform: scale(1.03);
    /* border: none; */
    box-shadow: #5b70cf52 0px 15px 30px !important;
    transition: all ease-in-out 0.1s;
}

.info-box-title {
    font-size: 28px;
    font-weight: 500;
    color: #1F3E72;
}

.info-box-text{
    font-size: 20px;
    font-weight: 300;
    color: #6D7B93;
}

.big-icon {
    font-size: 30px !important;
    width: 40px;
    height: 40px;
}

.secundary-data-container {
    margin-top: 6%;
    height: 90%;
}

.secundary-data-container article{
    margin-left: 10%;
}

.secundary-img-container {
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(13,147,224,1) 20%, rgba(41,113,221,1) 100%);
    width: 50%;
    /* padding-top: 10%; */
    position: absolute;
    left: -6%;
}


.secundary-image {
    background-image: url(./images/nurse2.webp);
    width: 100%;
    display: block;
    height: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}

.list-decorated{
    list-style: none;
}

.list-decorated li{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 3px #FAFAFF solid;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.list-decorated li:hover {
    transform: scale(1.03);
    /* border: none; */
    box-shadow: #e3e8f0 0px 60px 60px !important;
    transition: all ease-in-out 0.1s;
}

.list-decorated li:hover .shadow{
    transform: scale(1.03);
    /* border: none; */
    box-shadow: #5b70cf52 0px 15px 30px !important;
    transition: all ease-in-out 0.1s;
}

.list-decorated li span {
    flex: 2;
}

.small-icon {
    width: 8px;
    height: 8px;
    font-size: 15px;
}

.contact-container {
    right: -5.3%;
    left: 55.5% !important;
}

.contact-img {
    background-image: url(./images/nurse3.webp);
}

.contact-card-main-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0px !important;
    width: 100%;

}

.contact-card-container {
    border: 3px #FAFAFF solid;
    width: 40%;
    flex-grow: 2;
    border-radius: 10px;
    padding: 20px;
}

.contact-button {
    width: 80%;
    height: 70px;
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-button-secundary-color:hover {
    background-color: #b6c6f1;
}

.contact-button-secundary-color {
    background-color: #F1F5FF;
    color:#2E4ECC ;
}

.contact-title-container {
    display: flex;
    align-items: center;
}

.contact-title-container div span{
    font-size: 18px;
}

.contact-title-container div p {
    font-size: 14px;
    margin: 0px;
    margin-top: 14%;
}

.contact-title-container {
    margin-bottom: 20px;
}

.footer-container {
    background-color: #EEF3FF;
    position: absolute;
    width: 100%;
    right: 0px;
    margin-top: 50px;
    height: 50%;
}

.footer-data-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
    grid-auto-flow: row;
    width: 90%;
    margin: auto;
}

.footer-main {
    height: 80%;
    margin-top: 30px;
}

.normal-small-text {
    font-size: 22px;
    color: #707E96;
}

.normal-title-text {
    color: #1F3E72;
    font-size: 26px;
    font-weight: 900;
}

.footer-main-text {
    width: 30%;
}

.footer-menu-container {
    justify-self: self-end;
}

.footer-menu-container ul {
    list-style: none;
    padding: 0px;
}

.footer-menu-container ul li{
    margin-top: 20px;
}

.footer-menu-container ul li a{
    text-decoration: none;
    font-size: 22px;
    color: #707E96;
}

.footer-menu-container ul li a:hover{
    color: #344f80;
}

.normal-tiny-text {
    font-size: 18px;
    color: #707E96;
}

.term-container a{
    font-size: 18px;
    color: #707E96;
    text-decoration: none;
    margin-right: 30px;
}

.term-container {
    text-align: right;
}

.term-container a:hover{
    color: #344f80;
}